html,
body {
    font-family: Helvetica, Arial, Verdana, sans-serif;
    text-align: center;
}
html,
body {
    height: 100%;
    box-sizing: border-box;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.fuckometer {
    flex: 1 0 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.metadata {
    text-align: right;
    font-size: smaller;
}

.how {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    font-size: smaller;
    justify-content: center;
}

.how > li {
    flex: 0 1 40%;
    list-style-position: inside;
    padding: 0.5em;
}

.how > li:nth-child(2n) {
    text-align: left;
}
.how > li:nth-child(2n -1) {
    text-align: right;
}

.why-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.why-list > li {
    padding: 0;
    margin: 0;
}

var {
    font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo,
        Consolas, "DejaVu Sans Mono", monospace;
}
